@charset "UTF-8";

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figcaption, figure, dialog,
footer, header, hgroup, menu, main, nav, section{margin:0; padding:0; border:0;}
article, aside, details, figcaption, figure, dialog,
footer, header, hgroup, menu, main, nav, section{display:block;}
/* html{scroll-behavior: smooth;} */
html,body{}
body{word-wrap:break-word;word-break:keep-all;color: #242424;line-height: normal;-webkit-text-size-adjust:none;}
/* html *{max-height:1000000rem} Android tablet bug fix */
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal;}
a{color:#000000; }
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
a:active{}
a:focus{text-decoration:none;}
a,button,input{-webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);}
html{} /*  */
body,select,input,textarea,button{font-feature-settings: "tnum";font-family: "Pretendard","Kyobo","Roboto", "Apple SD Gothic Neo", "Malgun Gothic", "BaseLine", Tahoma, "Dotum", "sans-serif", "apple color emoji", "segoe ui emoji", "noto color emoji", "android emoji", "emojisymbols", "emojione mozilla", "twemoji mozilla", "segoe ui symbol";vertical-align:middle;line-height: 1.5;font-weight: 400;}
ol,ul,li{list-style:none;}
label{vertical-align:middle; display:inline-block;}
legend,caption{/* position: absolute !important; *//* left: 0rem !important; *//* top: 0rem !important; */width: 1rem !important;height: 1rem !important;opacity: 0 !important;overflow: hidden;margin-top: -1rem !important;border: 0 none !important;background: transparent !important;color: transparent !important;}
img{vertical-align:middle; border:none;}
table{border-collapse:collapse;border-spacing:0;}
address,em,i{font-style:normal;}
strong,b{font-weight:normal;}
*,::before,::after{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
/* *:focus{outline-color: rgba(0, 114, 255,0.2);outline-width: 3rem !important;outline-style: solid;} */

body {background: #e2ebf1;}
.wrap {padding: 9px; max-width: 640px; margin: 0 auto;}
.wrap .inner {background: #fff; box-shadow: 0 2px 3px 0 rgb(0 0 0 / 5%), 0 0 2px 0 rgb(0 0 0 / 7%); border-radius: 8px;
    display: flex; flex-wrap: wrap; align-items: stretch;
    padding: 15px;
}
.wrap h1 {
    display: table;
    margin: 20px auto 10px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid rgba(107,112,122,0.5);
    background-color: #f3f6fa;
}
.box_bank {
    display: flex;
    position: relative;
    width: calc(50% - 5px);
    border-radius: 6px;
    box-shadow: 0 2px 3px 0 rgb(155 168 174 / 8%), 0 0 2px 0 rgb(136 148 158 / 30%);
    margin-top: 12px;
    padding: 17px 15px 0px;
    flex-direction: column;
    border: 1px solid #d2d1d1;
}
.box_bank:nth-child(2n) {
    margin-left: 10px;
}
.box_bank .title {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.23px;
    color: #242424;
    max-width: 148px;
}
.box_bank .area_info {
    margin: 5px 0 13px;
    font-size: 14px;
}
.box_bank .area_info dt {
    float: left;
    color: #8f8f8f;
    padding-right: 11px;
    flex-shrink: 0;
    overflow: hidden;
    letter-spacing: -0.34px;
}
.box_bank .area_info dd {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #424242;
    letter-spacing: -0.21px;
    min-width: auto;
}
.box_bank .area_info dd:nth-child(4) {
    color: red;
}
.box_bank .area_info dd .rate {
    font-weight: bolder;
}
.highest_rate {
    position: absolute;
    right: 15px;
    top: 17px;
    font-size: 14px;
    line-height: 23px;
    color: #fc4c4e;
}
.highest_rate strong {
    font-weight: bold;
}
.txt_info {
    font-size: 14px;
    color: #8f8f8f;
    line-height: 1.5;
    letter-spacing: -0.3px;
    margin-top: 10px;
}

/* 모바일 해상도 */
@media (max-width: 800px) {
    .box_bank {
        width: 100%;
    }
    .box_bank:nth-child(2n) {
        margin-left: 0;
    }
}