* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
button {
    background: none;
    border: none;
    cursor: pointer;
}
table {
    width: 100%;
    border-collapse: collapse;
}

.body {
    max-width: 1270px;
    margin: 50px auto 0;
}

.button {
    border: 1px solid red;
}

#header {
    position: relative;
    margin: 0 auto;
    height: 60px;
    background: #fff;
    z-index: 2001;
    box-shadow: 0 0 5px rgb(0 0 0 / 25%);
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
}
.body .tab {
    margin-bottom: 20px;
}

.button {
    border: 1px solid red;
}


#header .date_today {
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
#header .inner {
    max-width: 1270px;
    margin: 0 auto;
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
}
.body .tab a {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: #888;
    letter-spacing: -0.05em;
    margin-bottom: 10px;
    padding: 11px 30px;
    margin-bottom: 5px;
    border-radius: 50px;
    transition: 0.15s;
    text-decoration: none;
}
.body .tab a.active {
    background: #000;
    color: #fff;
}
.list > li {
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    display: flex;
    width: 100%;
    height: 60px;
    background: #fff;
    align-items: center;
}
.list > li.tit_row {
    position: sticky;
    top: 4px;
    height: 40px;
    border-top: 1px solid #ccc;
}
.list > li.tit_row span {
    font-weight: bold;
}
.list > li span {
    text-align: center;
}
.list > li + li {
    margin-top: 10px;
}
.list > li .num {
    width: 80px;
}
.list > li .bankname {
    width: 200px;
}
.list > li .rate {
    width: 200px;
}
.list > li .emphasis {
    font-weight: bold;
    color: red;
}
.list > li .link {
    width: 100px;
}
.list > li .link a {
    display: inline-block;
    color: #424242;
    padding: 0 12px;
    height: 28px;
    line-height: 29px;
    border: 1px solid #e3e6e8;
    background: #fafbfc;
    text-decoration: none;
    font-size: 13px;
    border-radius: 3px;
}
.list > li .link a:hover {
    color: blue;
}
.list > li .date {
    width: 150px;
}
.list > li .type {
    width: 150px;
}

@media (max-width: 600px) {
    #header {
        font-size: 18px;
        height: 50px;
    }
    #header .date_today {
        left: 14px;
        font-size: 12px;
    }
    .body {
        margin-top: 30px;
    }
    .body .tab a {
        font-size: 14px;
        padding: 5px 10px
    }
    .body .tab {
        padding-left: 10px;
    }
    .list {
        margin: 0 15px;
    }
    .list > li .num,
    .list > li .link,
    .list > li .date {
        display: none;
    }
}
.area_source {
    margin-top: 15px;
}
.btn_source {
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    display: flex;
    width: 100%;
    height: 60px;
    background: #fff;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
}
.btn_source span {
    display: inline-block;
    padding-right: 30px;
    background: url("./images/btn_arrow.svg") no-repeat 100% 50%;
    background-size: 20px;
    transition: transform 0.2s ease 0s;
}
.box_toggle {
    display: none;
    padding: 10px;
}
.box_toggle._show {display: block;}
.table1 th {
    padding: 8px;
    border-bottom: 1px solid rgb(233, 234, 236);
    font-weight: 400;
    letter-spacing: -0.6px;
    text-align: left;
    color: rgb(109, 119, 135);
    background-color: rgb(250, 250, 250);
}
.table1 td {
    padding: 8px;
    font-weight: 400;
    letter-spacing: -0.6px;
    color: rgb(80, 89, 103);
    border-bottom: 1px solid rgb(240, 242, 244);
}